spring:
  application:
    name: notification-service
  config:
    import: optional:configserver:http://localhost:8888

server:
  port: 8083

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    com.example.notificationservice: DEBUG
